body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 200px;
    background-color: #46A29D;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 0%;
    padding-right: 0%;
    flex-wrap: wrap;
    justify-content: center;
}

button{
    border-color: #ffffff;
    background-color: #46A29D;
    height: 40px;
    width: 130px;
    
    }

a {
    text-decoration: none;
    background-color: #46A29D;
    color: #ffffff;
}

.uno {
    background-color: #F2F2F2;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    padding-left: 20%;
    padding-right: 20%;
}

.aptitudes {
    display: flex;
    justify-content: center;
    width: 50%;
}

.tech-list {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.tech {
    height: 190px;
}

.dos {
    background-color: #46A29D;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: #fffcfc;
}

.articulos {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.card {
    text-align: center;
    width: 30%;
    border: solid #F2F2F2 1px;
    border-radius: 10px;
    padding: 10px;
}

.card img {
    width: 100%;
}

.card a,


.tres {
    background-color: #46A29D;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: #fffcfc;
}

.articulos1 {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.card1 {
    text-align: center;
    width: 30%;
    border: solid #F2F2F2 1px;
    border-radius: 10px;
    padding: 10px;
}

.card1 img {
    width: 100%;
}

.card1 a,
footer a {
    color: white;
}

.cuatro {
    background-color: #46A29D;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: #fffcfc;
}

.articulos2 {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.card2 {
    text-align: center;
    width: 30%;
    border: solid #F2F2F2 1px;
    border-radius: 10px;
    padding: 10px;
}

.card2 img {
    width: 100%;
}

.card2 a,
footer a {
    color: white;
}

.cinco {
    background-color: #46A29D;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: #fffcfc;
}

.articulos3 {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.card3 {
    text-align: center;
    width: 30%;
    border: solid #F2F2F2 1px;
    border-radius: 10px;
    padding: 10px;
}

.card3 img {
    width: 100%;
}

.card3 a,
footer a {
    color: white;
}

.red-social {
    height: 60px;
    background-color: #46A29D;
    border-radius: 10px;
}

footer {
    background-color: #46A29D;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #F2F2F2;
    height: 250px;
}

.contacto {
    width: 30%;
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px) {

    .uno {
        height: auto;
        padding: 0 10px 10px 10px;

    }

    .dos {
        height: auto;
        padding: 0 10px 10px 10px;
    }

    .tres {
        height: auto;
        padding: 0 10px 10px 10px;
    }

    .cuatro {
        height: auto;
        padding: 0 10px 10px 10px;
    }

    .cinco {
        height: auto;
        padding: 0 10px 10px 10px;
    }

    .articulos {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    .articulos1 {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    .articulos2 {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    .articulos3 {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    .card {

        width: 80%;
        margin-top: 20px;
    }

    .card1 {

        width: 80%;
        margin-top: 20px;
    }

    .card2 {

        width: 80%;
        margin-top: 20px;
    }

    .card3 {

        width: 80%;
        margin-top: 20px;
    }


}